---
layout: default
---

<div class="home">
  <!-- {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} -->

  {{ content }}

  <div class="context">
    <div class="title">Zhang Yu's blog</div>
    <div class="main">The left button is my technical entry, and the right button is my personal life entry.</div>
    <div class="btn-wrap">
      <a href="/archive">
        <span class="btn">VIEW POSTS</span>
      </a>
      <a href="/plan">
        <span class="icon"></span>
        <span class="btn">PERSONAL</span>
      </a>
    </div>
</div>

</div>
