---
layout: default
---

<div class="plan">
  <div>
    <div class="title">动漫</div>
    <div class="context">{%- include plan-list.html param="anime" -%}</div>
  </div>

  <div>
    <div class="title">动漫电影</div>
    <div class="context">{%- include plan-list.html param="anime-movie" -%}</div class="context">
  </div>

  <div>
    <div class="title">电视剧</div>
    <div class="context">{%- include plan-list.html param="teleplay" -%}</div class="context">
  </div>

  <div>
    <div class="title">电影</div>
    <div class="context">{%- include plan-list.html param="movie" -%}</div class="context">
  </div>
</div>
